header.header
    .header__column
        h1.header__title #{siteName}
        a(href=routes.home)
            i.fab.fa-youtube
    .header__column
        form(action=routes.search, method="get")
            input(type="text", placeholder = '찾고자 하는 video Name 검색해주세요.', name='term')
    .header__column
        ul
            if !user.isAutenticated
                li
                    a(href=routes.join) Join
                li
                    a(href=routes.login) Login
            else    
                li
                    a(href=`/videos${routes.upload}`) Upload
                li
                    a(href=routes.userDetail(user.id)) Profile
                li
                    a(href=routes.logout) Log Out